<!DOCTYPE html>
<html>
<head>
  <title>PhraseGen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :all_words_css %>
  <%= yield :words_css %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="<%= key %>"><%= value %></div>
  <% end %>
<%= yield %>

</body>
</html>
