<!DOCTYPE html>
<html>
<head>
  <title>PhraseGen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :all_words_css %>
  <%= yield :words_css %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="<%= key %>"><%= value %></div>
  <% end %>
  <div class="links-area">
    <a href="#menu" id="toggle"><span></span></a>

    <div id="menu">
      <ul>
        <li><%= link_to 'all words', words_path %></li>
        <li><%= link_to 'add new', new_word_path %></li>
        <li><%= link_to 'history', history_path %></li>
      </ul>
    </div>
  </div>

  <%= yield %>

</body>
</html>
